path: "{%raw%}{{lookup('env','PWD')}}"{%endraw%} 

CVP_CONFIGLETS_JINJA:
  MLAG-Left: {%raw %}"{{lookup('file','{{path}}{% endraw %}/configs/Static/MLAG-Left.cfg')}}"
  MLAG-Right: {%raw %}"{{lookup('file','{{path}}{% endraw %}/configs/Static/MLAG-Right.cfg')}}"

{% for device in underlay['devices']%}
  {{device}}_interface: {%raw%}"{{lookup('file','{{path}}/configs/{% endraw %}{{device}}/{{device}}_interfaces.cfg')}}"
  {{device}}_EVPN: {%raw%}"{{lookup('file','{{path}}/configs/{% endraw %}{{device}}/{{device}}_EVPN.cfg')}}"
{% if 'leaf' in device %}
  {{device}}_VXLAN: {%raw%}"{{lookup('file','{{path}}/configs/{% endraw %}{{device}}/{{device}}_VXLAN.cfg')}}"
{% endif %}
{% endfor %}


CVP_DEVICES_JINJA:


{% for host in underlay['devices'] %}
{% if host != 'global' %}
  - fqdn: '{{host}}'
{% if 'leaf' in host %}
{% if 'DC1' in host %}
    parentContainerName: 'Leaf-DC1'
{% endif %}
{% if 'DC2' in host %}
    parentContainerName: 'Leaf-DC2'
{% endif %}
{% endif %}
{% if 'spine' in host %}
{% if 'DC1' in host %}
    parentContainerName: 'Spine-DC1'
{% endif %}
{% if 'DC2' in host %}
    parentContainerName: 'Spine-DC2'
{% endif %}
{% endif %}
    configlets:
      - 'ATD-INFRA'
      - '{{ host }}-BASE'
      - '{{ host }}_EVPN'
      - '{{ host }}_interface'
{% if 'leaf' in host %}
      - '{{ host }}_VXLAN'
{% if 'Odd' in underlay['devices'][host]['MLAG']%}
      - 'MLAG-Left'
{%endif%}
{% if 'Even' in underlay['devices'][host]['MLAG']%}
      - 'MLAG-Right'
{%endif%}
{%endif%}
{% endif %}
{% endfor %}